@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos candidatos</h1>
    <p>Clique <a href="/usuarios">aqui</a> para fazer o seu cadastro.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Cpf
            </th>
            <th>
                Rg
            </th>
            <th>
                Genero
            </th>
            <th>
                Nascimento
            </th>
            <th>
                Telefone
            </th>
            <th>
                telefone2
            </th>
            <th>
                Email
            </th>
            <th>
                Profissao
            </th>
            <th>
                EstadoCivil
            </th>
            <th>
                PossuiVeiculo
            </th>
            <th>
                PossuiHabilitacao
            </th>
            <th>
                Endereco
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var usuario in (List<Usuario>)ViewBag.Usuarios) {
        <tr>
            <td>
                @usuario.Nome)
            </td>
            <td>
                @usuario.Cpf)
            </td>
            <td>
                @usuario.Rg)
            </td>
            <td>
                @usuario.Genero)
            </td>
            <td>
                @usuario.Nascimento)
            </td>
            <td>
                @usuario.Telefone)
            </td>
            <td>
                @usuario.Telefone2)
            </td>
            <td>
                @usuario.Email)
            </td>
            <td>
                @usuario.Profissao)
            </td>
            <td>
                @usuario.EstadoCivil)
            </td>
            <td>
                @usuario.PossuiVeiculo)
            </td>
            <td>
                @usuario.PossuiHabilitacao)
            </td>
            <td>
                @usuario.EnderecoId)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>